h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 69px;
  margin: 0;
  padding: 0;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 50px;
  letter-spacing: 0.0025em;
  margin: 0;
  padding: 0;
}

.large_p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.0025em;
}

.medium_p {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.small_p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.0025em;
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.005em;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  .large_p {
    font-size: 18px;
  }

  .medium_p {
    font-size: 17px;
  }

  .small_p {
    font-size: 12px;
  }

  .btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 50px;
  }

  h2 {
    font-size: 22px;
  }

  .large_p {
    font-size: 16px;
  }

  .medium_p {
    font-size: 15px;
    line-height: 25px;
  }

  .small_p {
    font-size: 11px;
  }
}
