$primary_bg: #03071e;
$secondary_bg: #f1f2f6;
$footer_bg: #d4d1e5;
$x_secondary_bg: #2d3044;
$primary_color: #fafafa;
$x_primary_color: #000000;
$secondary_color: #03071e;
$x_secondary_color: #ff8600;
$btn_bg: #27187e;
